/* Setting fade transition and default settings */
body {
    color: #000;
    transition: background-color 800ms ease;
}

/* Panel styles */
.panel {
    padding-top: 7rem;
}
@media (min-width: 576px) {
    .panel {
        padding-top: 10rem;
    }
}

.panel h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}
.panel p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
  
/* Colors */
.color-none {
    background-color: transparent;
}
.color-white {
    /* background-color: rgba(255, 255, 255, 0.95); */
    background-color: #fff;
}
.color-cyan {
    background-color: #99DDFF;
}
.color-pink {
    background-color: #FFAABB;
}
.color-mint {
    background-color: #44BB99;
}
.color-blue {
    background-color: #77AADD;
}
.color-orange {
    background-color: #EE8866;
}
.color-yellow {
    background-color: #EEDD88;
}